-r requirements.txt
Pygments==2.18.0
appdirs==1.4.4
chardet==5.2.0
exceptiongroup==1.2.1
iniconfig==2.0.0
pluggy==1.5.0
pytest==7.4.4
regex==2023.12.25
sqlfluff==2.3.5
tblib==1.7.0
toml==0.10.2
tomli==2.0.1
tqdm==4.66.4
typer==0.12.3
diff-cover==9.0.0
jinja2-simple-tags==0.6.1
markdown-it-py==2.2.0
mdurl==0.1.2
pydantic==1.10.15
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
sqlfluff-templater-dbt==2.3.5
black==23.3.0
mypy-extensions==1.0.0
platformdirs==3.11.0
shandy-sqlfmt==0.21.3
